html,
body,
.page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 0.4s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  -moz-transition: all 0.4s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  -o-transition: all 0.4s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  color: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

* {
  font-family: "open sans", "lato", "helvetica", sans-serif;
}

.page {
  position: absolute;
}

#p1 {
  left: 0;
}

#p2,
#p3,
#p4,
#p5, 
#p6{
  left: 200%;
  transition-delay: .7s
}

#p1 {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}
#p2 {
  background: #17212D;
}
#p3 {
  background: #141B26;
}
#p4 {
  background: #10161E;
}
#p5 {
  background: #0D1017;
}
#p6 {
  background: #090a0f;
}

#t2:target #p2,
#t3:target #p3,
#t4:target #p4,
#t5:target #p5,
#t6:target #p6{
  transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  transition-delay: .4s !important;
}

#t2:target #p1,
#t3:target #p1,
#t4:target #p1,
#t5:target #p1,
#t6:target #p1{
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.icon {
  color: #fff;
  font-size: 32px;
  display: block;
}

ul .icon:hover {
  opacity: 0.5;
}

.page .icon {
  line-height: 2;
}

#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon,
#t5:target ul .icon,
#t6:target ul .icon{
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  transition-delay: 0.25s;
}

#t2:target #zwei,
#t3:target #drei,
#t4:target #vier,
#t5:target #funf,
#t6:target #sechs{
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
}

ul {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  /*height: 280px;*/
  height: 336px;
  width: 10%;
  padding: 0;
  text-align: center;
}

#menu .icon {
  margin: 30px 0;
  transition: all 0.5s ease-out !important;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

a {
  text-decoration: none;
}

.title,
.hint {
  display: block;
}

.title {
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 1;
}

.hint {
  font-size: 13px;
}

#p4 .hint {
  display: inherit !important;
}

.hint a {
  color: yellow;
  transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
}

.hint a:hover {
  color: #fff;
}

.line-trough {
  text-decoration: line-through;
}

.page .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10%;
  left: 0;
  width: 270px;
  height: 170px;
  margin: auto;
  text-align: center;
  font-size: 80px;
  line-height: 1.3;
  transform: translateX(360%);
  -webkit-transform: translateX(360%);
  -moz-transform: translateX(360%);
  -o-transform: translateX(360%);
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1.25);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1.25);
  -moz-transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1.25);
  -o-transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1.25);
}

.page#p1 .icon {
  height: 220px;
}

.page#p1 .icon {
  transform: translateX(10%) !important;
}

#t2:target .page#p2 .icon,
#t3:target .page#p3 .icon,
#t4:target .page#p4 .icon,
#t5:target .page#p5 .icon,
#t6:target .page#p6 .icon{
  transform: translateX(25%) !important;
  -webkit-transform: translateX(25%) !important;
  -moz-transform: translateX(25%) !important;
  -o-transform: translateX(25%) !important;
  transition-delay: 1s;
}

svg {
  position: fixed;
  top: 20%;
  height: 60%;
  left: 20%;
  width: 60%;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 964px 267px #fff, 976px 152px #fff, 1602px 492px #fff,
    1135px 529px #fff, 822px 681px #fff, 676px 1003px #fff, 1322px 1222px #fff,
    1473px 332px #fff, 384px 19px #fff, 538px 820px #fff, 758px 106px #fff,
    1330px 1977px #fff, 224px 796px #fff, 577px 109px #fff, 278px 323px #fff,
    45px 301px #fff, 612px 740px #fff, 1108px 1508px #fff, 265px 495px #fff,
    203px 41px #fff, 528px 1591px #fff, 1525px 32px #fff, 1850px 1956px #fff,
    186px 876px #fff, 1207px 1019px #fff, 1320px 1867px #fff, 1543px 552px #fff,
    336px 1403px #fff, 1707px 674px #fff, 174px 1864px #fff, 1905px 613px #fff,
    1647px 1859px #fff, 202px 397px #fff, 1540px 997px #fff, 947px 70px #fff,
    1047px 1518px #fff, 1682px 1848px #fff, 1136px 1701px #fff, 599px 778px #fff,
    358px 963px #fff, 1079px 151px #fff, 1992px 694px #fff, 1442px 944px #fff,
    1623px 1252px #fff, 1393px 1149px #fff, 791px 1249px #fff, 1063px 485px #fff,
    823px 1615px #fff, 41px 1464px #fff, 232px 113px #fff, 91px 602px #fff,
    1250px 1565px #fff, 30px 1148px #fff, 1349px 1603px #fff, 1578px 533px #fff,
    1095px 268px #fff, 714px 711px #fff, 1264px 116px #fff, 75px 1602px #fff,
    82px 1093px #fff, 1687px 1334px #fff, 1090px 1708px #fff, 553px 873px #fff,
    1739px 604px #fff, 167px 1741px #fff, 1398px 1491px #fff, 1119px 1983px #fff,
    113px 210px #fff, 1871px 903px #fff, 1219px 629px #fff, 1861px 1744px #fff,
    782px 1599px #fff, 1290px 1813px #fff, 637px 1426px #fff, 977px 554px #fff,
    1016px 1547px #fff, 1164px 552px #fff, 1216px 1436px #fff, 889px 804px #fff,
    1738px 1035px #fff, 222px 1783px #fff, 272px 43px #fff, 521px 1185px #fff,
    1172px 1624px #fff, 1918px 1675px #fff, 1834px 1420px #fff, 379px 121px #fff,
    1833px 1241px #fff, 67px 1534px #fff, 190px 1065px #fff, 1590px 1596px #fff,
    1782px 296px #fff, 1713px 811px #fff, 1254px 455px #fff, 1633px 928px #fff,
    1996px 1327px #fff, 840px 95px #fff, 1230px 507px #fff, 138px 178px #fff,
    93px 1908px #fff, 1346px 1220px #fff, 1648px 198px #fff, 185px 815px #fff,
    751px 411px #fff, 202px 1307px #fff, 550px 565px #fff, 1553px 1431px #fff,
    1117px 1348px #fff, 608px 1266px #fff, 117px 1808px #fff, 322px 1157px #fff,
    47px 734px #fff, 261px 1261px #fff, 1496px 52px #fff, 789px 564px #fff,
    886px 1767px #fff, 1667px 788px #fff, 1979px 968px #fff, 1398px 1890px #fff,
    1157px 1397px #fff, 716px 101px #fff, 1869px 1085px #fff, 1067px 1531px #fff,
    891px 612px #fff, 1072px 1632px #fff, 1785px 132px #fff, 591px 1108px #fff,
    1207px 1623px #fff, 27px 1289px #fff, 1830px 1989px #fff, 611px 740px #fff,
    1420px 302px #fff, 312px 967px #fff, 1531px 139px #fff, 1061px 719px #fff,
    1413px 574px #fff, 1845px 605px #fff, 1060px 1799px #fff, 499px 1060px #fff,
    1719px 1743px #fff, 1010px 1315px #fff, 932px 1322px #fff, 974px 1675px #fff,
    452px 106px #fff, 484px 769px #fff, 1573px 504px #fff, 1169px 1963px #fff,
    1871px 723px #fff, 1822px 499px #fff, 1051px 679px #fff, 250px 365px #fff,
    289px 242px #fff, 1511px 292px #fff, 1836px 986px #fff, 731px 1573px #fff,
    1854px 568px #fff, 496px 1403px #fff, 1714px 754px #fff, 1760px 452px #fff,
    458px 1130px #fff, 416px 1698px #fff, 1407px 290px #fff, 130px 1787px #fff,
    1635px 1291px #fff, 1545px 1607px #fff, 999px 1449px #fff,
    1949px 1258px #fff, 1215px 1497px #fff, 1249px 468px #fff,
    1084px 1038px #fff, 1918px 1649px #fff, 1901px 1379px #fff,
    1277px 1920px #fff, 243px 1288px #fff, 793px 1397px #fff, 1554px 919px #fff,
    1687px 1439px #fff, 1044px 970px #fff, 197px 320px #fff, 1000px 1802px #fff,
    115px 1974px #fff, 343px 1581px #fff, 203px 1692px #fff, 255px 110px #fff,
    1129px 422px #fff, 263px 1920px #fff, 1646px 1175px #fff, 1111px 846px #fff,
    1044px 499px #fff, 462px 1534px #fff, 1616px 1743px #fff, 718px 501px #fff,
    657px 1280px #fff, 1137px 1936px #fff, 532px 1815px #fff, 1304px 1370px #fff,
    1375px 427px #fff, 1282px 156px #fff, 1746px 211px #fff, 1190px 1032px #fff,
    1578px 1279px #fff, 1223px 955px #fff, 725px 934px #fff, 733px 1261px #fff,
    1691px 1203px #fff, 1050px 239px #fff, 242px 1044px #fff, 1006px 349px #fff,
    1577px 1934px #fff, 22px 1798px #fff, 534px 960px #fff, 495px 902px #fff,
    381px 386px #fff, 1803px 1803px #fff, 1017px 270px #fff, 1546px 683px #fff,
    644px 499px #fff, 105px 118px #fff, 678px 1151px #fff, 256px 1473px #fff,
    977px 1767px #fff, 1711px 319px #fff, 820px 1138px #fff, 667px 1795px #fff,
    1627px 1075px #fff, 1629px 374px #fff, 319px 90px #fff, 567px 961px #fff,
    69px 1312px #fff, 222px 427px #fff, 91px 1583px #fff, 60px 24px #fff,
    530px 686px #fff, 1274px 1517px #fff, 1540px 204px #fff, 1485px 1195px #fff,
    1795px 230px #fff, 1896px 1348px #fff, 22px 270px #fff, 1977px 1862px #fff,
    1097px 139px #fff, 1138px 571px #fff, 538px 667px #fff, 1402px 615px #fff,
    614px 1713px #fff, 1168px 565px #fff, 557px 1903px #fff, 1434px 264px #fff,
    1519px 1567px #fff, 821px 727px #fff, 999px 824px #fff, 655px 821px #fff,
    618px 215px #fff, 928px 1251px #fff, 1737px 1424px #fff, 847px 1835px #fff,
    647px 777px #fff, 1522px 1386px #fff, 658px 1268px #fff, 565px 1590px #fff,
    773px 895px #fff, 1485px 732px #fff, 1052px 412px #fff, 1361px 1262px #fff,
    1186px 1199px #fff, 811px 1481px #fff, 1809px 122px #fff, 627px 1103px #fff,
    63px 965px #fff, 882px 1169px #fff, 1230px 1290px #fff, 1332px 1633px #fff,
    1136px 995px #fff, 1875px 1940px #fff, 246px 1888px #fff, 1801px 148px #fff,
    58px 890px #fff, 1723px 1219px #fff, 927px 204px #fff, 913px 332px #fff,
    1743px 583px #fff, 1063px 1404px #fff, 842px 1087px #fff, 51px 1789px #fff,
    1417px 1362px #fff, 230px 187px #fff, 1624px 153px #fff, 238px 1051px #fff,
    1254px 1209px #fff, 804px 1319px #fff, 778px 1026px #fff, 1912px 798px #fff,
    515px 1988px #fff, 889px 1263px #fff, 474px 1987px #fff, 1045px 1739px #fff,
    987px 773px #fff, 1726px 1052px #fff, 808px 1027px #fff, 762px 1130px #fff,
    989px 841px #fff, 1588px 175px #fff, 1841px 1838px #fff, 1222px 1005px #fff,
    726px 255px #fff, 1398px 174px #fff, 1487px 587px #fff, 1418px 1572px #fff,
    1964px 1390px #fff, 1754px 1133px #fff, 1213px 1275px #fff,
    1120px 1310px #fff, 1642px 1016px #fff, 1180px 1835px #fff, 915px 975px #fff,
    870px 1891px #fff, 154px 1758px #fff, 56px 248px #fff, 50px 155px #fff,
    219px 555px #fff, 1106px 874px #fff, 810px 1072px #fff, 1761px 1070px #fff,
    826px 1208px #fff, 1676px 1914px #fff, 1103px 1415px #fff, 154px 1515px #fff,
    304px 35px #fff, 207px 1252px #fff, 342px 1006px #fff, 1167px 1562px #fff,
    1249px 404px #fff, 1241px 689px #fff, 1643px 1156px #fff, 1420px 168px #fff,
    774px 1016px #fff, 252px 432px #fff, 1348px 956px #fff, 749px 974px #fff,
    1636px 873px #fff, 1986px 1360px #fff, 1247px 1191px #fff, 1891px 707px #fff,
    702px 412px #fff, 265px 1050px #fff, 262px 423px #fff, 706px 33px #fff,
    21px 950px #fff, 86px 110px #fff, 300px 1428px #fff, 472px 1660px #fff,
    1741px 1119px #fff, 1814px 883px #fff, 532px 1444px #fff, 622px 320px #fff,
    986px 511px #fff, 1060px 1674px #fff, 194px 621px #fff, 1409px 1352px #fff,
    1247px 633px #fff, 1699px 1212px #fff, 358px 1436px #fff, 1412px 1357px #fff,
    452px 1260px #fff, 460px 1639px #fff, 1072px 1259px #fff, 444px 1959px #fff,
    1365px 1667px #fff, 1093px 1597px #fff, 1964px 195px #fff, 1847px 424px #fff,
    1927px 1759px #fff, 456px 188px #fff, 608px 1856px #fff, 968px 795px #fff,
    999px 622px #fff, 1509px 496px #fff, 652px 813px #fff, 379px 1361px #fff,
    789px 777px #fff, 1273px 958px #fff, 1248px 632px #fff, 1873px 487px #fff,
    1991px 479px #fff, 1008px 769px #fff, 1675px 1480px #fff, 1655px 1707px #fff,
    1796px 1279px #fff, 1604px 1058px #fff, 177px 1061px #fff,
    1119px 1270px #fff, 733px 506px #fff, 348px 1163px #fff, 161px 485px #fff,
    1651px 103px #fff, 569px 262px #fff, 1044px 180px #fff, 82px 313px #fff,
    328px 1230px #fff, 1933px 1367px #fff, 275px 1748px #fff, 1768px 1328px #fff,
    83px 226px #fff, 1133px 699px #fff, 1898px 676px #fff, 331px 305px #fff,
    1919px 1962px #fff, 1934px 185px #fff, 1288px 1672px #fff,
    1786px 1307px #fff, 971px 662px #fff, 1626px 788px #fff, 1263px 930px #fff,
    656px 1957px #fff, 1100px 371px #fff, 487px 76px #fff, 230px 203px #fff,
    1967px 631px #fff, 1626px 300px #fff, 1552px 973px #fff, 963px 958px #fff,
    209px 937px #fff, 1617px 540px #fff, 917px 1760px #fff, 279px 262px #fff,
    497px 729px #fff, 1034px 218px #fff, 664px 1392px #fff, 144px 3px #fff,
    1927px 1504px #fff, 1062px 505px #fff, 884px 1408px #fff, 341px 973px #fff,
    1994px 563px #fff, 321px 453px #fff, 325px 1929px #fff, 31px 165px #fff,
    299px 729px #fff, 998px 1710px #fff, 209px 1365px #fff, 991px 1241px #fff,
    208px 582px #fff, 526px 1019px #fff, 1934px 544px #fff, 1503px 968px #fff,
    1212px 568px #fff, 1430px 92px #fff, 168px 647px #fff, 1035px 356px #fff,
    1030px 137px #fff, 1734px 333px #fff, 749px 1893px #fff, 29px 199px #fff,
    421px 289px #fff, 1946px 797px #fff, 773px 1337px #fff, 1528px 1878px #fff,
    68px 1644px #fff, 116px 120px #fff, 942px 1288px #fff, 1740px 281px #fff,
    1547px 826px #fff, 908px 90px #fff, 606px 1354px #fff, 1188px 1381px #fff,
    549px 1362px #fff, 858px 1399px #fff, 1106px 1752px #fff, 1610px 1535px #fff,
    195px 505px #fff, 1075px 1382px #fff, 395px 343px #fff, 1183px 687px #fff,
    493px 1641px #fff, 743px 1113px #fff, 832px 1424px #fff, 1560px 1577px #fff,
    176px 886px #fff, 1167px 650px #fff, 159px 1218px #fff, 384px 1968px #fff,
    1232px 264px #fff, 683px 1944px #fff, 1411px 1369px #fff, 20px 627px #fff,
    210px 1503px #fff, 634px 1315px #fff, 83px 1468px #fff, 24px 1451px #fff,
    247px 23px #fff, 1590px 210px #fff, 1944px 1828px #fff, 1370px 1105px #fff,
    1473px 159px #fff, 237px 1443px #fff, 715px 1084px #fff, 1725px 680px #fff,
    27px 1834px #fff, 1869px 452px #fff, 1999px 493px #fff, 899px 792px #fff,
    1767px 1114px #fff, 1230px 1355px #fff, 333px 1376px #fff,
    1322px 1553px #fff, 3px 156px #fff, 512px 1395px #fff, 1867px 883px #fff,
    1448px 754px #fff, 1915px 1911px #fff, 990px 120px #fff, 138px 211px #fff,
    1237px 1629px #fff, 750px 459px #fff, 1978px 1969px #fff, 811px 1989px #fff,
    1371px 1495px #fff, 1946px 1252px #fff, 1835px 446px #fff, 115px 1804px #fff,
    1002px 1111px #fff, 126px 990px #fff, 121px 1254px #fff, 697px 1659px #fff,
    1223px 28px #fff, 172px 1524px #fff, 1541px 209px #fff, 1435px 1123px #fff,
    521px 1599px #fff, 685px 195px #fff, 1007px 1879px #fff, 1071px 378px #fff,
    809px 1373px #fff, 843px 201px #fff, 1747px 1766px #fff, 1332px 1500px #fff,
    30px 48px #fff, 277px 1902px #fff, 1600px 42px #fff, 364px 778px #fff,
    776px 838px #fff, 1364px 319px #fff, 747px 391px #fff, 1711px 905px #fff,
    860px 1571px #fff, 1596px 26px #fff, 1586px 1614px #fff, 1339px 250px #fff,
    1574px 923px #fff, 483px 619px #fff, 1281px 1432px #fff, 1475px 140px #fff,
    1824px 1881px #fff, 1427px 1170px #fff, 1981px 552px #fff, 1814px 715px #fff,
    1883px 875px #fff, 1531px 165px #fff, 1636px 1720px #fff, 859px 399px #fff,
    1201px 422px #fff, 1675px 1817px #fff, 1198px 631px #fff, 52px 666px #fff,
    1616px 1450px #fff, 1543px 218px #fff, 656px 164px #fff, 175px 255px #fff,
    1262px 17px #fff, 619px 766px #fff, 839px 54px #fff, 966px 1817px #fff,
    1474px 79px #fff, 1218px 929px #fff, 327px 1829px #fff, 711px 1098px #fff,
    1157px 582px #fff, 452px 463px #fff, 1914px 974px #fff, 9px 987px #fff,
    941px 643px #fff, 171px 712px #fff, 204px 1370px #fff, 924px 1676px #fff,
    1545px 1451px #fff, 1196px 1642px #fff, 138px 1733px #fff,
    1484px 1787px #fff, 864px 1641px #fff, 204px 550px #fff, 210px 318px #fff,
    192px 403px #fff, 348px 1659px #fff, 1902px 1006px #fff, 1902px 597px #fff,
    926px 1131px #fff, 1502px 1690px #fff, 1013px 1449px #fff, 187px 1960px #fff,
    1977px 96px #fff, 1472px 1786px #fff, 436px 1589px #fff, 1499px 1603px #fff,
    430px 33px #fff, 1180px 804px #fff, 1078px 1354px #fff, 1350px 174px #fff,
    1730px 1402px #fff, 577px 425px #fff, 92px 146px #fff, 457px 1614px #fff,
    1561px 105px #fff, 1489px 313px #fff, 1513px 496px #fff, 152px 726px #fff,
    1265px 489px #fff, 1644px 832px #fff, 298px 486px #fff, 159px 337px #fff,
    1338px 1688px #fff, 1983px 1249px #fff, 1944px 1737px #fff, 137px 930px #fff,
    255px 1999px #fff, 890px 1377px #fff, 678px 531px #fff, 1976px 1075px #fff,
    161px 1507px #fff, 703px 253px #fff, 1072px 916px #fff, 144px 136px #fff,
    17px 1346px #fff, 1050px 1708px #fff, 1286px 1509px #fff, 686px 595px #fff,
    201px 827px #fff, 117px 1289px #fff, 813px 248px #fff, 1626px 172px #fff,
    786px 248px #fff, 174px 1609px #fff, 1997px 1117px #fff, 1273px 1960px #fff,
    1403px 1899px #fff, 998px 247px #fff, 1560px 723px #fff, 533px 1320px #fff,
    1910px 942px #fff, 493px 780px #fff, 1783px 1219px #fff, 275px 792px #fff,
    914px 1650px #fff, 389px 549px #fff, 380px 747px #fff, 382px 685px #fff,
    1510px 1085px #fff, 1288px 1570px #fff, 1263px 1206px #fff,
    1992px 1445px #fff, 39px 1262px #fff, 432px 1237px #fff, 1124px 1366px #fff,
    573px 1938px #fff, 633px 674px #fff, 1354px 334px #fff, 193px 1044px #fff,
    583px 781px #fff, 921px 910px #fff, 1765px 880px #fff, 1636px 1405px #fff,
    1820px 1318px #fff, 1456px 908px #fff, 619px 805px #fff, 1990px 1863px #fff,
    1912px 1317px #fff, 1253px 959px #fff, 1454px 1206px #fff, 261px 1470px #fff,
    229px 1524px #fff, 1753px 928px #fff, 766px 1593px #fff, 1504px 1459px #fff,
    795px 1325px #fff, 833px 1349px #fff, 1834px 167px #fff, 661px 431px #fff,
    1355px 394px #fff, 1019px 933px #fff, 1996px 1212px #fff, 720px 821px #fff,
    443px 1546px #fff, 1859px 43px #fff, 1991px 1945px #fff, 145px 1853px #fff,
    1527px 1293px #fff, 1017px 611px #fff, 1393px 1650px #fff, 218px 118px #fff,
    998px 1819px #fff, 1518px 1176px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 964px 267px #fff, 976px 152px #fff, 1602px 492px #fff,
    1135px 529px #fff, 822px 681px #fff, 676px 1003px #fff, 1322px 1222px #fff,
    1473px 332px #fff, 384px 19px #fff, 538px 820px #fff, 758px 106px #fff,
    1330px 1977px #fff, 224px 796px #fff, 577px 109px #fff, 278px 323px #fff,
    45px 301px #fff, 612px 740px #fff, 1108px 1508px #fff, 265px 495px #fff,
    203px 41px #fff, 528px 1591px #fff, 1525px 32px #fff, 1850px 1956px #fff,
    186px 876px #fff, 1207px 1019px #fff, 1320px 1867px #fff, 1543px 552px #fff,
    336px 1403px #fff, 1707px 674px #fff, 174px 1864px #fff, 1905px 613px #fff,
    1647px 1859px #fff, 202px 397px #fff, 1540px 997px #fff, 947px 70px #fff,
    1047px 1518px #fff, 1682px 1848px #fff, 1136px 1701px #fff, 599px 778px #fff,
    358px 963px #fff, 1079px 151px #fff, 1992px 694px #fff, 1442px 944px #fff,
    1623px 1252px #fff, 1393px 1149px #fff, 791px 1249px #fff, 1063px 485px #fff,
    823px 1615px #fff, 41px 1464px #fff, 232px 113px #fff, 91px 602px #fff,
    1250px 1565px #fff, 30px 1148px #fff, 1349px 1603px #fff, 1578px 533px #fff,
    1095px 268px #fff, 714px 711px #fff, 1264px 116px #fff, 75px 1602px #fff,
    82px 1093px #fff, 1687px 1334px #fff, 1090px 1708px #fff, 553px 873px #fff,
    1739px 604px #fff, 167px 1741px #fff, 1398px 1491px #fff, 1119px 1983px #fff,
    113px 210px #fff, 1871px 903px #fff, 1219px 629px #fff, 1861px 1744px #fff,
    782px 1599px #fff, 1290px 1813px #fff, 637px 1426px #fff, 977px 554px #fff,
    1016px 1547px #fff, 1164px 552px #fff, 1216px 1436px #fff, 889px 804px #fff,
    1738px 1035px #fff, 222px 1783px #fff, 272px 43px #fff, 521px 1185px #fff,
    1172px 1624px #fff, 1918px 1675px #fff, 1834px 1420px #fff, 379px 121px #fff,
    1833px 1241px #fff, 67px 1534px #fff, 190px 1065px #fff, 1590px 1596px #fff,
    1782px 296px #fff, 1713px 811px #fff, 1254px 455px #fff, 1633px 928px #fff,
    1996px 1327px #fff, 840px 95px #fff, 1230px 507px #fff, 138px 178px #fff,
    93px 1908px #fff, 1346px 1220px #fff, 1648px 198px #fff, 185px 815px #fff,
    751px 411px #fff, 202px 1307px #fff, 550px 565px #fff, 1553px 1431px #fff,
    1117px 1348px #fff, 608px 1266px #fff, 117px 1808px #fff, 322px 1157px #fff,
    47px 734px #fff, 261px 1261px #fff, 1496px 52px #fff, 789px 564px #fff,
    886px 1767px #fff, 1667px 788px #fff, 1979px 968px #fff, 1398px 1890px #fff,
    1157px 1397px #fff, 716px 101px #fff, 1869px 1085px #fff, 1067px 1531px #fff,
    891px 612px #fff, 1072px 1632px #fff, 1785px 132px #fff, 591px 1108px #fff,
    1207px 1623px #fff, 27px 1289px #fff, 1830px 1989px #fff, 611px 740px #fff,
    1420px 302px #fff, 312px 967px #fff, 1531px 139px #fff, 1061px 719px #fff,
    1413px 574px #fff, 1845px 605px #fff, 1060px 1799px #fff, 499px 1060px #fff,
    1719px 1743px #fff, 1010px 1315px #fff, 932px 1322px #fff, 974px 1675px #fff,
    452px 106px #fff, 484px 769px #fff, 1573px 504px #fff, 1169px 1963px #fff,
    1871px 723px #fff, 1822px 499px #fff, 1051px 679px #fff, 250px 365px #fff,
    289px 242px #fff, 1511px 292px #fff, 1836px 986px #fff, 731px 1573px #fff,
    1854px 568px #fff, 496px 1403px #fff, 1714px 754px #fff, 1760px 452px #fff,
    458px 1130px #fff, 416px 1698px #fff, 1407px 290px #fff, 130px 1787px #fff,
    1635px 1291px #fff, 1545px 1607px #fff, 999px 1449px #fff,
    1949px 1258px #fff, 1215px 1497px #fff, 1249px 468px #fff,
    1084px 1038px #fff, 1918px 1649px #fff, 1901px 1379px #fff,
    1277px 1920px #fff, 243px 1288px #fff, 793px 1397px #fff, 1554px 919px #fff,
    1687px 1439px #fff, 1044px 970px #fff, 197px 320px #fff, 1000px 1802px #fff,
    115px 1974px #fff, 343px 1581px #fff, 203px 1692px #fff, 255px 110px #fff,
    1129px 422px #fff, 263px 1920px #fff, 1646px 1175px #fff, 1111px 846px #fff,
    1044px 499px #fff, 462px 1534px #fff, 1616px 1743px #fff, 718px 501px #fff,
    657px 1280px #fff, 1137px 1936px #fff, 532px 1815px #fff, 1304px 1370px #fff,
    1375px 427px #fff, 1282px 156px #fff, 1746px 211px #fff, 1190px 1032px #fff,
    1578px 1279px #fff, 1223px 955px #fff, 725px 934px #fff, 733px 1261px #fff,
    1691px 1203px #fff, 1050px 239px #fff, 242px 1044px #fff, 1006px 349px #fff,
    1577px 1934px #fff, 22px 1798px #fff, 534px 960px #fff, 495px 902px #fff,
    381px 386px #fff, 1803px 1803px #fff, 1017px 270px #fff, 1546px 683px #fff,
    644px 499px #fff, 105px 118px #fff, 678px 1151px #fff, 256px 1473px #fff,
    977px 1767px #fff, 1711px 319px #fff, 820px 1138px #fff, 667px 1795px #fff,
    1627px 1075px #fff, 1629px 374px #fff, 319px 90px #fff, 567px 961px #fff,
    69px 1312px #fff, 222px 427px #fff, 91px 1583px #fff, 60px 24px #fff,
    530px 686px #fff, 1274px 1517px #fff, 1540px 204px #fff, 1485px 1195px #fff,
    1795px 230px #fff, 1896px 1348px #fff, 22px 270px #fff, 1977px 1862px #fff,
    1097px 139px #fff, 1138px 571px #fff, 538px 667px #fff, 1402px 615px #fff,
    614px 1713px #fff, 1168px 565px #fff, 557px 1903px #fff, 1434px 264px #fff,
    1519px 1567px #fff, 821px 727px #fff, 999px 824px #fff, 655px 821px #fff,
    618px 215px #fff, 928px 1251px #fff, 1737px 1424px #fff, 847px 1835px #fff,
    647px 777px #fff, 1522px 1386px #fff, 658px 1268px #fff, 565px 1590px #fff,
    773px 895px #fff, 1485px 732px #fff, 1052px 412px #fff, 1361px 1262px #fff,
    1186px 1199px #fff, 811px 1481px #fff, 1809px 122px #fff, 627px 1103px #fff,
    63px 965px #fff, 882px 1169px #fff, 1230px 1290px #fff, 1332px 1633px #fff,
    1136px 995px #fff, 1875px 1940px #fff, 246px 1888px #fff, 1801px 148px #fff,
    58px 890px #fff, 1723px 1219px #fff, 927px 204px #fff, 913px 332px #fff,
    1743px 583px #fff, 1063px 1404px #fff, 842px 1087px #fff, 51px 1789px #fff,
    1417px 1362px #fff, 230px 187px #fff, 1624px 153px #fff, 238px 1051px #fff,
    1254px 1209px #fff, 804px 1319px #fff, 778px 1026px #fff, 1912px 798px #fff,
    515px 1988px #fff, 889px 1263px #fff, 474px 1987px #fff, 1045px 1739px #fff,
    987px 773px #fff, 1726px 1052px #fff, 808px 1027px #fff, 762px 1130px #fff,
    989px 841px #fff, 1588px 175px #fff, 1841px 1838px #fff, 1222px 1005px #fff,
    726px 255px #fff, 1398px 174px #fff, 1487px 587px #fff, 1418px 1572px #fff,
    1964px 1390px #fff, 1754px 1133px #fff, 1213px 1275px #fff,
    1120px 1310px #fff, 1642px 1016px #fff, 1180px 1835px #fff, 915px 975px #fff,
    870px 1891px #fff, 154px 1758px #fff, 56px 248px #fff, 50px 155px #fff,
    219px 555px #fff, 1106px 874px #fff, 810px 1072px #fff, 1761px 1070px #fff,
    826px 1208px #fff, 1676px 1914px #fff, 1103px 1415px #fff, 154px 1515px #fff,
    304px 35px #fff, 207px 1252px #fff, 342px 1006px #fff, 1167px 1562px #fff,
    1249px 404px #fff, 1241px 689px #fff, 1643px 1156px #fff, 1420px 168px #fff,
    774px 1016px #fff, 252px 432px #fff, 1348px 956px #fff, 749px 974px #fff,
    1636px 873px #fff, 1986px 1360px #fff, 1247px 1191px #fff, 1891px 707px #fff,
    702px 412px #fff, 265px 1050px #fff, 262px 423px #fff, 706px 33px #fff,
    21px 950px #fff, 86px 110px #fff, 300px 1428px #fff, 472px 1660px #fff,
    1741px 1119px #fff, 1814px 883px #fff, 532px 1444px #fff, 622px 320px #fff,
    986px 511px #fff, 1060px 1674px #fff, 194px 621px #fff, 1409px 1352px #fff,
    1247px 633px #fff, 1699px 1212px #fff, 358px 1436px #fff, 1412px 1357px #fff,
    452px 1260px #fff, 460px 1639px #fff, 1072px 1259px #fff, 444px 1959px #fff,
    1365px 1667px #fff, 1093px 1597px #fff, 1964px 195px #fff, 1847px 424px #fff,
    1927px 1759px #fff, 456px 188px #fff, 608px 1856px #fff, 968px 795px #fff,
    999px 622px #fff, 1509px 496px #fff, 652px 813px #fff, 379px 1361px #fff,
    789px 777px #fff, 1273px 958px #fff, 1248px 632px #fff, 1873px 487px #fff,
    1991px 479px #fff, 1008px 769px #fff, 1675px 1480px #fff, 1655px 1707px #fff,
    1796px 1279px #fff, 1604px 1058px #fff, 177px 1061px #fff,
    1119px 1270px #fff, 733px 506px #fff, 348px 1163px #fff, 161px 485px #fff,
    1651px 103px #fff, 569px 262px #fff, 1044px 180px #fff, 82px 313px #fff,
    328px 1230px #fff, 1933px 1367px #fff, 275px 1748px #fff, 1768px 1328px #fff,
    83px 226px #fff, 1133px 699px #fff, 1898px 676px #fff, 331px 305px #fff,
    1919px 1962px #fff, 1934px 185px #fff, 1288px 1672px #fff,
    1786px 1307px #fff, 971px 662px #fff, 1626px 788px #fff, 1263px 930px #fff,
    656px 1957px #fff, 1100px 371px #fff, 487px 76px #fff, 230px 203px #fff,
    1967px 631px #fff, 1626px 300px #fff, 1552px 973px #fff, 963px 958px #fff,
    209px 937px #fff, 1617px 540px #fff, 917px 1760px #fff, 279px 262px #fff,
    497px 729px #fff, 1034px 218px #fff, 664px 1392px #fff, 144px 3px #fff,
    1927px 1504px #fff, 1062px 505px #fff, 884px 1408px #fff, 341px 973px #fff,
    1994px 563px #fff, 321px 453px #fff, 325px 1929px #fff, 31px 165px #fff,
    299px 729px #fff, 998px 1710px #fff, 209px 1365px #fff, 991px 1241px #fff,
    208px 582px #fff, 526px 1019px #fff, 1934px 544px #fff, 1503px 968px #fff,
    1212px 568px #fff, 1430px 92px #fff, 168px 647px #fff, 1035px 356px #fff,
    1030px 137px #fff, 1734px 333px #fff, 749px 1893px #fff, 29px 199px #fff,
    421px 289px #fff, 1946px 797px #fff, 773px 1337px #fff, 1528px 1878px #fff,
    68px 1644px #fff, 116px 120px #fff, 942px 1288px #fff, 1740px 281px #fff,
    1547px 826px #fff, 908px 90px #fff, 606px 1354px #fff, 1188px 1381px #fff,
    549px 1362px #fff, 858px 1399px #fff, 1106px 1752px #fff, 1610px 1535px #fff,
    195px 505px #fff, 1075px 1382px #fff, 395px 343px #fff, 1183px 687px #fff,
    493px 1641px #fff, 743px 1113px #fff, 832px 1424px #fff, 1560px 1577px #fff,
    176px 886px #fff, 1167px 650px #fff, 159px 1218px #fff, 384px 1968px #fff,
    1232px 264px #fff, 683px 1944px #fff, 1411px 1369px #fff, 20px 627px #fff,
    210px 1503px #fff, 634px 1315px #fff, 83px 1468px #fff, 24px 1451px #fff,
    247px 23px #fff, 1590px 210px #fff, 1944px 1828px #fff, 1370px 1105px #fff,
    1473px 159px #fff, 237px 1443px #fff, 715px 1084px #fff, 1725px 680px #fff,
    27px 1834px #fff, 1869px 452px #fff, 1999px 493px #fff, 899px 792px #fff,
    1767px 1114px #fff, 1230px 1355px #fff, 333px 1376px #fff,
    1322px 1553px #fff, 3px 156px #fff, 512px 1395px #fff, 1867px 883px #fff,
    1448px 754px #fff, 1915px 1911px #fff, 990px 120px #fff, 138px 211px #fff,
    1237px 1629px #fff, 750px 459px #fff, 1978px 1969px #fff, 811px 1989px #fff,
    1371px 1495px #fff, 1946px 1252px #fff, 1835px 446px #fff, 115px 1804px #fff,
    1002px 1111px #fff, 126px 990px #fff, 121px 1254px #fff, 697px 1659px #fff,
    1223px 28px #fff, 172px 1524px #fff, 1541px 209px #fff, 1435px 1123px #fff,
    521px 1599px #fff, 685px 195px #fff, 1007px 1879px #fff, 1071px 378px #fff,
    809px 1373px #fff, 843px 201px #fff, 1747px 1766px #fff, 1332px 1500px #fff,
    30px 48px #fff, 277px 1902px #fff, 1600px 42px #fff, 364px 778px #fff,
    776px 838px #fff, 1364px 319px #fff, 747px 391px #fff, 1711px 905px #fff,
    860px 1571px #fff, 1596px 26px #fff, 1586px 1614px #fff, 1339px 250px #fff,
    1574px 923px #fff, 483px 619px #fff, 1281px 1432px #fff, 1475px 140px #fff,
    1824px 1881px #fff, 1427px 1170px #fff, 1981px 552px #fff, 1814px 715px #fff,
    1883px 875px #fff, 1531px 165px #fff, 1636px 1720px #fff, 859px 399px #fff,
    1201px 422px #fff, 1675px 1817px #fff, 1198px 631px #fff, 52px 666px #fff,
    1616px 1450px #fff, 1543px 218px #fff, 656px 164px #fff, 175px 255px #fff,
    1262px 17px #fff, 619px 766px #fff, 839px 54px #fff, 966px 1817px #fff,
    1474px 79px #fff, 1218px 929px #fff, 327px 1829px #fff, 711px 1098px #fff,
    1157px 582px #fff, 452px 463px #fff, 1914px 974px #fff, 9px 987px #fff,
    941px 643px #fff, 171px 712px #fff, 204px 1370px #fff, 924px 1676px #fff,
    1545px 1451px #fff, 1196px 1642px #fff, 138px 1733px #fff,
    1484px 1787px #fff, 864px 1641px #fff, 204px 550px #fff, 210px 318px #fff,
    192px 403px #fff, 348px 1659px #fff, 1902px 1006px #fff, 1902px 597px #fff,
    926px 1131px #fff, 1502px 1690px #fff, 1013px 1449px #fff, 187px 1960px #fff,
    1977px 96px #fff, 1472px 1786px #fff, 436px 1589px #fff, 1499px 1603px #fff,
    430px 33px #fff, 1180px 804px #fff, 1078px 1354px #fff, 1350px 174px #fff,
    1730px 1402px #fff, 577px 425px #fff, 92px 146px #fff, 457px 1614px #fff,
    1561px 105px #fff, 1489px 313px #fff, 1513px 496px #fff, 152px 726px #fff,
    1265px 489px #fff, 1644px 832px #fff, 298px 486px #fff, 159px 337px #fff,
    1338px 1688px #fff, 1983px 1249px #fff, 1944px 1737px #fff, 137px 930px #fff,
    255px 1999px #fff, 890px 1377px #fff, 678px 531px #fff, 1976px 1075px #fff,
    161px 1507px #fff, 703px 253px #fff, 1072px 916px #fff, 144px 136px #fff,
    17px 1346px #fff, 1050px 1708px #fff, 1286px 1509px #fff, 686px 595px #fff,
    201px 827px #fff, 117px 1289px #fff, 813px 248px #fff, 1626px 172px #fff,
    786px 248px #fff, 174px 1609px #fff, 1997px 1117px #fff, 1273px 1960px #fff,
    1403px 1899px #fff, 998px 247px #fff, 1560px 723px #fff, 533px 1320px #fff,
    1910px 942px #fff, 493px 780px #fff, 1783px 1219px #fff, 275px 792px #fff,
    914px 1650px #fff, 389px 549px #fff, 380px 747px #fff, 382px 685px #fff,
    1510px 1085px #fff, 1288px 1570px #fff, 1263px 1206px #fff,
    1992px 1445px #fff, 39px 1262px #fff, 432px 1237px #fff, 1124px 1366px #fff,
    573px 1938px #fff, 633px 674px #fff, 1354px 334px #fff, 193px 1044px #fff,
    583px 781px #fff, 921px 910px #fff, 1765px 880px #fff, 1636px 1405px #fff,
    1820px 1318px #fff, 1456px 908px #fff, 619px 805px #fff, 1990px 1863px #fff,
    1912px 1317px #fff, 1253px 959px #fff, 1454px 1206px #fff, 261px 1470px #fff,
    229px 1524px #fff, 1753px 928px #fff, 766px 1593px #fff, 1504px 1459px #fff,
    795px 1325px #fff, 833px 1349px #fff, 1834px 167px #fff, 661px 431px #fff,
    1355px 394px #fff, 1019px 933px #fff, 1996px 1212px #fff, 720px 821px #fff,
    443px 1546px #fff, 1859px 43px #fff, 1991px 1945px #fff, 145px 1853px #fff,
    1527px 1293px #fff, 1017px 611px #fff, 1393px 1650px #fff, 218px 118px #fff,
    998px 1819px #fff, 1518px 1176px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1387px 199px #fff, 1050px 238px #fff, 1073px 1028px #fff,
    1353px 944px #fff, 1417px 1641px #fff, 1079px 378px #fff, 398px 921px #fff,
    1103px 905px #fff, 72px 1563px #fff, 582px 329px #fff, 1534px 515px #fff,
    779px 681px #fff, 1428px 1526px #fff, 1895px 1371px #fff, 1094px 894px #fff,
    833px 422px #fff, 773px 97px #fff, 742px 7px #fff, 860px 209px #fff,
    615px 413px #fff, 1147px 641px #fff, 1620px 277px #fff, 495px 1962px #fff,
    1515px 198px #fff, 1079px 459px #fff, 1261px 797px #fff, 1979px 213px #fff,
    1175px 47px #fff, 1553px 528px #fff, 1131px 1109px #fff, 516px 910px #fff,
    745px 1545px #fff, 762px 1664px #fff, 196px 1936px #fff, 1287px 1786px #fff,
    989px 1682px #fff, 1809px 1126px #fff, 277px 1291px #fff, 1456px 1134px #fff,
    1442px 479px #fff, 1201px 1508px #fff, 1493px 1891px #fff, 1393px 862px #fff,
    718px 281px #fff, 1450px 1843px #fff, 938px 1056px #fff, 1243px 1451px #fff,
    1031px 817px #fff, 1972px 252px #fff, 791px 1391px #fff, 56px 522px #fff,
    1443px 1643px #fff, 1334px 432px #fff, 15px 1071px #fff, 1644px 69px #fff,
    256px 809px #fff, 1077px 685px #fff, 174px 331px #fff, 1126px 1567px #fff,
    1922px 1878px #fff, 1906px 1816px #fff, 252px 405px #fff, 887px 87px #fff,
    745px 1237px #fff, 579px 37px #fff, 1390px 1326px #fff, 1691px 1428px #fff,
    1182px 1164px #fff, 232px 383px #fff, 1484px 1186px #fff, 630px 151px #fff,
    398px 1284px #fff, 1137px 1449px #fff, 1171px 621px #fff, 265px 1696px #fff,
    1159px 919px #fff, 144px 1139px #fff, 1930px 1031px #fff, 724px 342px #fff,
    1928px 1920px #fff, 40px 1245px #fff, 1121px 668px #fff, 1489px 1164px #fff,
    742px 1208px #fff, 1648px 1471px #fff, 1381px 1832px #fff,
    1084px 1501px #fff, 1914px 957px #fff, 1620px 1038px #fff,
    1284px 1455px #fff, 1088px 1403px #fff, 1017px 1140px #fff,
    1472px 1851px #fff, 968px 585px #fff, 163px 426px #fff, 710px 71px #fff,
    448px 128px #fff, 1372px 814px #fff, 1983px 1619px #fff, 1637px 1793px #fff,
    1922px 257px #fff, 296px 1458px #fff, 1036px 1169px #fff, 1805px 1688px #fff,
    1079px 249px #fff, 532px 1770px #fff, 1097px 993px #fff, 1162px 1855px #fff,
    1593px 1674px #fff, 562px 50px #fff, 1706px 338px #fff, 437px 1782px #fff,
    67px 959px #fff, 1660px 1487px #fff, 935px 1032px #fff, 1724px 228px #fff,
    486px 1260px #fff, 982px 701px #fff, 168px 1847px #fff, 1614px 1635px #fff,
    322px 1758px #fff, 761px 109px #fff, 1019px 909px #fff, 1076px 711px #fff,
    1379px 440px #fff, 1293px 1222px #fff, 1913px 1041px #fff,
    1959px 1245px #fff, 1085px 593px #fff, 1958px 1757px #fff, 294px 774px #fff,
    1881px 1812px #fff, 1745px 297px #fff, 1933px 1011px #fff, 108px 872px #fff,
    716px 1059px #fff, 826px 316px #fff, 1596px 1461px #fff, 180px 1996px #fff,
    222px 1744px #fff, 859px 1953px #fff, 682px 614px #fff, 249px 404px #fff,
    1318px 1101px #fff, 406px 161px #fff, 1849px 998px #fff, 303px 699px #fff,
    1533px 1139px #fff, 1661px 1263px #fff, 1130px 462px #fff,
    1776px 1870px #fff, 415px 656px #fff, 950px 10px #fff, 324px 521px #fff,
    1892px 609px #fff, 307px 1294px #fff, 1619px 1023px #fff, 1595px 748px #fff,
    159px 1442px #fff, 1915px 1819px #fff, 1701px 210px #fff, 1088px 1617px #fff,
    1114px 698px #fff, 1362px 197px #fff, 1855px 1277px #fff, 1068px 898px #fff,
    810px 326px #fff, 1944px 326px #fff, 1007px 1379px #fff, 1638px 1706px #fff,
    1498px 734px #fff, 251px 544px #fff, 1071px 574px #fff, 1789px 980px #fff,
    1232px 1407px #fff, 1985px 1664px #fff, 789px 29px #fff, 1810px 1229px #fff,
    227px 1818px #fff, 999px 691px #fff, 1949px 1606px #fff, 663px 1339px #fff,
    585px 1809px #fff, 1548px 1771px #fff, 35px 851px #fff, 821px 1946px #fff,
    1253px 1377px #fff, 25px 212px #fff, 1018px 888px #fff, 1820px 4px #fff,
    406px 50px #fff, 1887px 872px #fff, 276px 1643px #fff, 537px 118px #fff,
    444px 974px #fff, 1347px 993px #fff, 1806px 502px #fff, 1620px 472px #fff,
    1179px 1799px #fff, 1368px 716px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1387px 199px #fff, 1050px 238px #fff, 1073px 1028px #fff,
    1353px 944px #fff, 1417px 1641px #fff, 1079px 378px #fff, 398px 921px #fff,
    1103px 905px #fff, 72px 1563px #fff, 582px 329px #fff, 1534px 515px #fff,
    779px 681px #fff, 1428px 1526px #fff, 1895px 1371px #fff, 1094px 894px #fff,
    833px 422px #fff, 773px 97px #fff, 742px 7px #fff, 860px 209px #fff,
    615px 413px #fff, 1147px 641px #fff, 1620px 277px #fff, 495px 1962px #fff,
    1515px 198px #fff, 1079px 459px #fff, 1261px 797px #fff, 1979px 213px #fff,
    1175px 47px #fff, 1553px 528px #fff, 1131px 1109px #fff, 516px 910px #fff,
    745px 1545px #fff, 762px 1664px #fff, 196px 1936px #fff, 1287px 1786px #fff,
    989px 1682px #fff, 1809px 1126px #fff, 277px 1291px #fff, 1456px 1134px #fff,
    1442px 479px #fff, 1201px 1508px #fff, 1493px 1891px #fff, 1393px 862px #fff,
    718px 281px #fff, 1450px 1843px #fff, 938px 1056px #fff, 1243px 1451px #fff,
    1031px 817px #fff, 1972px 252px #fff, 791px 1391px #fff, 56px 522px #fff,
    1443px 1643px #fff, 1334px 432px #fff, 15px 1071px #fff, 1644px 69px #fff,
    256px 809px #fff, 1077px 685px #fff, 174px 331px #fff, 1126px 1567px #fff,
    1922px 1878px #fff, 1906px 1816px #fff, 252px 405px #fff, 887px 87px #fff,
    745px 1237px #fff, 579px 37px #fff, 1390px 1326px #fff, 1691px 1428px #fff,
    1182px 1164px #fff, 232px 383px #fff, 1484px 1186px #fff, 630px 151px #fff,
    398px 1284px #fff, 1137px 1449px #fff, 1171px 621px #fff, 265px 1696px #fff,
    1159px 919px #fff, 144px 1139px #fff, 1930px 1031px #fff, 724px 342px #fff,
    1928px 1920px #fff, 40px 1245px #fff, 1121px 668px #fff, 1489px 1164px #fff,
    742px 1208px #fff, 1648px 1471px #fff, 1381px 1832px #fff,
    1084px 1501px #fff, 1914px 957px #fff, 1620px 1038px #fff,
    1284px 1455px #fff, 1088px 1403px #fff, 1017px 1140px #fff,
    1472px 1851px #fff, 968px 585px #fff, 163px 426px #fff, 710px 71px #fff,
    448px 128px #fff, 1372px 814px #fff, 1983px 1619px #fff, 1637px 1793px #fff,
    1922px 257px #fff, 296px 1458px #fff, 1036px 1169px #fff, 1805px 1688px #fff,
    1079px 249px #fff, 532px 1770px #fff, 1097px 993px #fff, 1162px 1855px #fff,
    1593px 1674px #fff, 562px 50px #fff, 1706px 338px #fff, 437px 1782px #fff,
    67px 959px #fff, 1660px 1487px #fff, 935px 1032px #fff, 1724px 228px #fff,
    486px 1260px #fff, 982px 701px #fff, 168px 1847px #fff, 1614px 1635px #fff,
    322px 1758px #fff, 761px 109px #fff, 1019px 909px #fff, 1076px 711px #fff,
    1379px 440px #fff, 1293px 1222px #fff, 1913px 1041px #fff,
    1959px 1245px #fff, 1085px 593px #fff, 1958px 1757px #fff, 294px 774px #fff,
    1881px 1812px #fff, 1745px 297px #fff, 1933px 1011px #fff, 108px 872px #fff,
    716px 1059px #fff, 826px 316px #fff, 1596px 1461px #fff, 180px 1996px #fff,
    222px 1744px #fff, 859px 1953px #fff, 682px 614px #fff, 249px 404px #fff,
    1318px 1101px #fff, 406px 161px #fff, 1849px 998px #fff, 303px 699px #fff,
    1533px 1139px #fff, 1661px 1263px #fff, 1130px 462px #fff,
    1776px 1870px #fff, 415px 656px #fff, 950px 10px #fff, 324px 521px #fff,
    1892px 609px #fff, 307px 1294px #fff, 1619px 1023px #fff, 1595px 748px #fff,
    159px 1442px #fff, 1915px 1819px #fff, 1701px 210px #fff, 1088px 1617px #fff,
    1114px 698px #fff, 1362px 197px #fff, 1855px 1277px #fff, 1068px 898px #fff,
    810px 326px #fff, 1944px 326px #fff, 1007px 1379px #fff, 1638px 1706px #fff,
    1498px 734px #fff, 251px 544px #fff, 1071px 574px #fff, 1789px 980px #fff,
    1232px 1407px #fff, 1985px 1664px #fff, 789px 29px #fff, 1810px 1229px #fff,
    227px 1818px #fff, 999px 691px #fff, 1949px 1606px #fff, 663px 1339px #fff,
    585px 1809px #fff, 1548px 1771px #fff, 35px 851px #fff, 821px 1946px #fff,
    1253px 1377px #fff, 25px 212px #fff, 1018px 888px #fff, 1820px 4px #fff,
    406px 50px #fff, 1887px 872px #fff, 276px 1643px #fff, 537px 118px #fff,
    444px 974px #fff, 1347px 993px #fff, 1806px 502px #fff, 1620px 472px #fff,
    1179px 1799px #fff, 1368px 716px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 997px 1766px #fff, 1123px 450px #fff, 657px 831px #fff,
    96px 761px #fff, 1891px 113px #fff, 1965px 1088px #fff, 1048px 834px #fff,
    1461px 1513px #fff, 1622px 135px #fff, 1600px 50px #fff, 193px 325px #fff,
    966px 813px #fff, 156px 72px #fff, 949px 1368px #fff, 1555px 1279px #fff,
    111px 1792px #fff, 893px 352px #fff, 492px 55px #fff, 1509px 1942px #fff,
    1934px 249px #fff, 1487px 1117px #fff, 488px 1695px #fff, 669px 684px #fff,
    1482px 569px #fff, 1848px 1943px #fff, 839px 1245px #fff, 970px 1962px #fff,
    1293px 1610px #fff, 476px 690px #fff, 935px 1845px #fff, 551px 1540px #fff,
    1189px 946px #fff, 125px 924px #fff, 296px 1520px #fff, 1986px 787px #fff,
    576px 248px #fff, 792px 286px #fff, 1990px 1143px #fff, 1309px 1395px #fff,
    1085px 520px #fff, 1413px 582px #fff, 1460px 959px #fff, 1247px 890px #fff,
    1964px 1868px #fff, 1360px 1083px #fff, 52px 1286px #fff, 1308px 1205px #fff,
    1789px 254px #fff, 1198px 1519px #fff, 1971px 167px #fff, 1538px 1577px #fff,
    1342px 1867px #fff, 1457px 331px #fff, 181px 1277px #fff, 1126px 1688px #fff,
    559px 1527px #fff, 208px 839px #fff, 1904px 432px #fff, 1345px 370px #fff,
    1348px 1287px #fff, 57px 747px #fff, 1293px 1079px #fff, 1736px 1454px #fff,
    862px 1688px #fff, 193px 573px #fff, 329px 1018px #fff, 608px 1329px #fff,
    1771px 1481px #fff, 1694px 1350px #fff, 405px 160px #fff, 1035px 1321px #fff,
    755px 1750px #fff, 1355px 1568px #fff, 457px 285px #fff, 148px 25px #fff,
    363px 1052px #fff, 1783px 627px #fff, 656px 861px #fff, 88px 655px #fff,
    749px 754px #fff, 1322px 1030px #fff, 50px 581px #fff, 630px 846px #fff,
    960px 722px #fff, 1701px 1471px #fff, 1812px 219px #fff, 208px 1693px #fff,
    447px 1271px #fff, 168px 204px #fff, 970px 1876px #fff, 1022px 1834px #fff,
    299px 1896px #fff, 1137px 401px #fff, 415px 1853px #fff, 543px 150px #fff,
    163px 1213px #fff, 1577px 1264px #fff, 1863px 903px #fff, 659px 1923px #fff,
    1440px 1892px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 997px 1766px #fff, 1123px 450px #fff, 657px 831px #fff,
    96px 761px #fff, 1891px 113px #fff, 1965px 1088px #fff, 1048px 834px #fff,
    1461px 1513px #fff, 1622px 135px #fff, 1600px 50px #fff, 193px 325px #fff,
    966px 813px #fff, 156px 72px #fff, 949px 1368px #fff, 1555px 1279px #fff,
    111px 1792px #fff, 893px 352px #fff, 492px 55px #fff, 1509px 1942px #fff,
    1934px 249px #fff, 1487px 1117px #fff, 488px 1695px #fff, 669px 684px #fff,
    1482px 569px #fff, 1848px 1943px #fff, 839px 1245px #fff, 970px 1962px #fff,
    1293px 1610px #fff, 476px 690px #fff, 935px 1845px #fff, 551px 1540px #fff,
    1189px 946px #fff, 125px 924px #fff, 296px 1520px #fff, 1986px 787px #fff,
    576px 248px #fff, 792px 286px #fff, 1990px 1143px #fff, 1309px 1395px #fff,
    1085px 520px #fff, 1413px 582px #fff, 1460px 959px #fff, 1247px 890px #fff,
    1964px 1868px #fff, 1360px 1083px #fff, 52px 1286px #fff, 1308px 1205px #fff,
    1789px 254px #fff, 1198px 1519px #fff, 1971px 167px #fff, 1538px 1577px #fff,
    1342px 1867px #fff, 1457px 331px #fff, 181px 1277px #fff, 1126px 1688px #fff,
    559px 1527px #fff, 208px 839px #fff, 1904px 432px #fff, 1345px 370px #fff,
    1348px 1287px #fff, 57px 747px #fff, 1293px 1079px #fff, 1736px 1454px #fff,
    862px 1688px #fff, 193px 573px #fff, 329px 1018px #fff, 608px 1329px #fff,
    1771px 1481px #fff, 1694px 1350px #fff, 405px 160px #fff, 1035px 1321px #fff,
    755px 1750px #fff, 1355px 1568px #fff, 457px 285px #fff, 148px 25px #fff,
    363px 1052px #fff, 1783px 627px #fff, 656px 861px #fff, 88px 655px #fff,
    749px 754px #fff, 1322px 1030px #fff, 50px 581px #fff, 630px 846px #fff,
    960px 722px #fff, 1701px 1471px #fff, 1812px 219px #fff, 208px 1693px #fff,
    447px 1271px #fff, 168px 204px #fff, 970px 1876px #fff, 1022px 1834px #fff,
    299px 1896px #fff, 1137px 401px #fff, 415px 1853px #fff, 543px 150px #fff,
    163px 1213px #fff, 1577px 1264px #fff, 1863px 903px #fff, 659px 1923px #fff,
    1440px 1892px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  /*background: -webkit-linear-gradient(white, #38495a);*/
  background: -webkit-linear-gradient(#dde0e3, #dde0e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
#subtitle {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #363b3f;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 5px;
  margin-top: -60px;
  padding-left: 10px;
}
#subtitle span {
  /*background: -webkit-linear-gradient(white, #38495a);*/
  background: -webkit-linear-gradient(#dde0e3, #dde0e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#navbar {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 2.5rem;    /* Footer height */
  width: 100%;
  padding-bottom: 20px;
}

#navbar p {
  font-size: 12px;
  color: #444749;
  text-align: center;
  padding-top: 20px;
}

#navbar ul {
  display:inline-block;
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
  z-index: 1;
  height: 0px;
  text-align: center;
  padding-bottom: 70px;
}

#navbar li {
  display: inline-block;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}

#navbar li a {
  display: block;
  text-decoration: none;
  border-bottom: medium none;
  padding: 0px;
  border-radius: 1px;
  margin-left: auto;
  margin-right: auto;
}

#navbar .fa-twitter {
  color: #DDE0E3;
}
#navbar .fa-youtube {
  color: #DDE0E3;
}
#navbar .fa-instagram {
  color: #DDE0E3;
}
#navbar .fa-linkedin {
  color: #DDE0E3;
}
#navbar .fa-github {
  color: #DDE0E3;
}
#navbar .fa-dev {
  color: #DDE0E3;
}

#navbar .fa-twitter:hover {
  color: #00a9f1;
  transition: all 0.3s ease-in 0s, all 1s ease 0s;
}
#navbar .fa-youtube:hover {
  color: #ff3333;
  transition: all 0.3s ease-in 0s, all 1s ease 0s;
}
#navbar .fa-instagram:hover {
  color: #FCAF45;
  transition: all 0.3s ease-in 0s, all 1s ease 0s;
}
#navbar .fa-linkedin:hover {
  color: #006db3;
  transition: all 0.3s ease-in 0s, all 1s ease 0s;
}
#navbar .fa-github:hover {
  color: #6e5494;
  transition: all 0.3s ease-in 0s, all 1s ease 0s;
}
#navbar .fa-dev:hover {
  color: #44CCE4;
  transition: all 0.3s ease-in 0s, all 1s ease 0s;
}